# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/

# Misc
.DS_Store
*.pem

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.swn

# Local env files
.env*.local

# Build
build/
app/node_modules/
app/dist/
